<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Attack Page</title>
  </head>
  <body>
    <b>You have been attacked</b>
    <br>
    <div class="hpdiv">
      Player 2 now has <%= @player_2_hp %> hp
    </div>
  </body>
</html>
